@using EgressPortal.Models
@using EgressPortal.Models.API.HttpClient.Egress.Person

<div class="d-flex flex-column w-100 justify-content-center align-content-center align-items-center background_color_darkgreen p-3 title_page">
    <MudGrid Class="d-flex flex-row w-100 align-items-center title_page_center">
        <MudItem xs="6" sm="6" md="3" lg="3" Class="d-flex flex-row align-items-center justify-content-center gap-2">
            <MudAvatar Color="Color.Primary" Size="Size.Large">
                @if (string.IsNullOrWhiteSpace(Person.PerfilImage))
                {
                    <b>@Person.Name[0]</b>
                }
                else
                {
                    <MudImage Src="@Person.PerfilImage" Alt="avatar"/>
                }
            </MudAvatar>
            
            <MudText Typo="Typo.h5" Class="text_color_white fw-bold">Olá @GetFirstName(Person.Name).</MudText>
        </MudItem>
        <MudItem xs="2" sm="2" md="1" lg="1" Class="text-center">
            <MudText Typo="Typo.h2" Class="nav_hidden_link text_color_white">|</MudText>
        </MudItem>
        <MudItem xs="5" sm="5" md="8" lg="8" Class="nav_hidden_link">
            <div class="d-flex flex-row justify-content-around align-items-center">
                <NavLink  class="nav-fill text_color_white" href="@RouteSettings.AuthStartPage" ActiveClass="nav_link_active_class" Match="NavLinkMatch.All" >
                    PÁGINA INICIAL
                </NavLink>
                <NavLink  class="nav-fill text_color_white" href="@RouteSettings.AuthMyTestimony" ActiveClass="nav_link_active_class" Match="NavLinkMatch.All">
                    DEPOIMENTOS
                </NavLink>
                <NavLink class="nav-fill text_color_white" href="@RouteSettings.AuthMyHighlights" ActiveClass="nav_link_active_class" Match="NavLinkMatch.All">
                    DESTAQUES
                </NavLink>
                <NavLink class="nav-fill text_color_white" href="@RouteSettings.AuthUpdate" ActiveClass="nav_link_active_class" Match="NavLinkMatch.All">
                    ATUALIZAR DADOS
                </NavLink>
            </div>
        </MudItem>
        <MudItem xs="4" sm="4" md="8" lg="8" Class="nav_hidden_button">
            <div NavLink="d-flex w-100 justify-content-end">
                <MudMenu Icon="@Icons.Material.Filled.Menu" Size="Size.Large" Color="Color.Surface" Variant="Variant.Text" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopRight">
                    <MudMenuItem Href="@RouteSettings.AuthStartPage">Página inicial</MudMenuItem>
                    <MudMenuItem Href="@RouteSettings.AuthMyTestimony">Meus depoimentos</MudMenuItem>
                    <MudMenuItem Href="@RouteSettings.AuthMyHighlights">Meus destaques</MudMenuItem>
                    <MudMenuItem Href="@RouteSettings.AuthUpdate">Atualizar dados</MudMenuItem>
                </MudMenu>
            </div>
        </MudItem>
    </MudGrid>
</div>

@code {
    private const string WHITESPACE = " ";
    
    [Parameter]
    [EditorRequired]
    public PersonResponseApi Person { get; set; } = null!;
    
    private static string GetFirstName(string name)
        => name.Split(WHITESPACE).First();
}